body{
    /* Colors */
    --primary-color:#131313;
    --secondary-color:#b24747;
    --link-color:#261010;
        
    /* Basic Styling*/
    font-family: Helvetica, -apple-system;
    background-color: var(--primary-color);
}

/* Header Style */
.header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 75px 0 10px 0;
}

/* Center Style*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
