body{
    /* Colors */
    --primary-color:#131313;
    --secondary-color:#b24747;
    --link-color:#261010;
    --header-color:#000000;
        
    /* Basic Styling*/
    font-family: Helvetica, -apple-system;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* Title Style */
.title{
    text-align: center;
    padding: 20px 0 5px 0;
    font-size: 30px;
    background-color: var(--header-color);
    color: var(--secondary-color);
    width: 100%;
}

/* Header Style */
.header {
    text-align:left;
    padding-left: 10px 0 0 0;
    font-size: 10px;
    background-color: var(--header-color);
    color: var(--secondary-color);
    width: 100%;
}

/* Center Style*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

/* Logo Style Properties*/
.logo{
  display:block;
  width: 30%;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -120px;
  text-align: center;
}
